.timeline {
    border-top: 3px solid var(--accent-dark);
    margin: 30px 20px 0;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.timelineItem {
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    max-width: 200px;
}
.timelineDate {
    font-weight: bold;
    color: var(--text);
    margin-bottom: 6px;
}
.timelineItem::before {
    content: "";
    position: absolute;
    left: 20%;
    top: -32px;
    width: 20px;
    height: 20px;
    background: var(--accent);
    border-radius: 50%;
}

.timelineContent {
    color: var(--muted);
}