.hero {
    position: relative;
    width: 100%;
    height: 90vh;
    background: url("public/header-dark.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.hero h1 {
    font-family: 'Inkulinati', serif;
    color: #fff;
    font-size: 3.5rem;
    padding: 20px 30px;
    margin: 0;
}
.hero p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: var(--muted);
}
#random-phrase {
    font-style: italic;
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
    color: var(--muted);
}

.heroLogo {
    height: 200px;
    margin-bottom: 20px;
}

.heroPhrase {
    margin-top: 10px;
    font-size: 1.1rem;
    color: var(--muted);
}