.donateSection {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
    border-radius: 12px;
    background: #2a2a26;

}

.buttonLike {
    display: inline-block;
    background-color: var(--accent);
    color: var(--bg);
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 5px;
}
.buttonLike:hover {
    background-color: var(--accent-dark);
    color: var(--bg);
}