.donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    background-color: #2a2a26;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 16px;
}

.buttonLike {
    display: inline-block;
    background-color: var(--accent);
    color: var(--bg);
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 5px;
}
.buttonLike:hover {
    background-color: var(--accent-dark);
    color: var(--bg);
}