.contactsSection{
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 0 20px;
}

.subtext {
    margin-bottom: 1rem;
}

a {
    color: var(--accent);
    text-decoration: none;
}